* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #E2AC7F;/*gross orange*/
  margin-top: 10px;
}

main {
  background-color: #F5F5DC; /*beige*/
  margin: 0 30%;
  border: 4px dotted black;
}

h1 {
  font-family: Impact, sans-serif;
  font-style: italic;
  font-size: 2em;
  border-bottom: 4px dotted black;
}

h5 {
  padding: 2em 2em 1em;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 500;
  text-align: justify;
  font-size: 0.70em;
}

h6 {
  padding: 10px;
  font-family: Verdana, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  font-size: 0.60em;
}

p {
  font-family: Verdana-italic, sans-serif;
  font-size: 0.80em;
  padding-bottom: 0.1em;
}

p::first-letter {
  font-weight: 575;
  font-style: italic;
  font-size: 1.3em;
}

a {
  color: blue;
  text-decoration: none;
}
